<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>Most recent Incidents</title>
</head>
<body>
<div layout:fragment="content">
  <table class="outerborder zebra-striped hover-rows">
    <thead>
    <tr>
      <th><a th:href="@{/incidents(sort=id)}">Id</a></th>
      <th><a th:href="@{/incidents(sort=checkName)}">Checkname</a></th>
      <th><a th:href="@{/incidents(sort=lastExecution)}">Last executed</a></th>
      <th><a th:href="@{/incidents(sort=finnApp)}">Finn APP</a></th>
      <th><a th:href="@{/incidents(sort=finnEnv)}">Finn ENV</a></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inc : ${mostRecentIncidents}">
      <td th:text="${inc.id}">Id</td>
      <td th:text="${inc.checkName}">Check</td>
      <td th:text="${inc.lastExecution}">2016-06-07</td>
      <td th:text="${inc.finnApp}">mobile</td>
      <td th:text="${inc.finnEnv}">ci</td>
      <td><a th:href="@{|/incidents/${inc.id}|}">
        View
      </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
