<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>Incidents</title>
</head>
<body>
<div layout:fragment="content">
  <table>
    <thead>
      <tr>
        <th>Checkname</th>
        <th>Last executed</th>
        <th>Tags</th>
        <th>Teams</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="inc,iterStatus : ${incidents}">
        <td th:text="${inc.checkName}">Check</td>
        <td th:text="${inc.last_execution}">2016-06-07</td>
        <td><ul>
            <li th:each="tag,tagStatus : ${inc.tags}">
              <span th:text="${tag.name}">Name</span>
            </li>
          </ul>
        </td>
        <td>

        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
