<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>incidenttags</title>
</head>
<body>
<div layout:fragment="content">
  <div th:replace="/incidenttags/pagination"></div>
  <table class="outerborder zebra-striped hover-rows">
    <thead>
    <tr>
      <th><a th:href="@{/incidenttags(sort=id)}">Id</a></th>
      <th><a th:href="@{/incidenttags(sort=name)}">Name</a></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${incidenttags}">
      <td th:text="${t.id}">Id</td>
      <td th:text="${t.name}">Name</td>
      <td><a th:href="@{|/incidenttags/${t.id}|}">
        View
      </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div th:replace="/incidenttags/pagination"></div>
</div>

</body>
</html>
