<div class="t4 centerify r-margin">
  <a th:href="@{/incidenttags(page=0)}" th:if="${pagination.pageNumber} &gt; 0" rel="start" href="#" class="mrm pam" aria-label="First">
    <svg height="1em" viewBox="0 0 18 16" class="valign-middle">
      <switch>
        <g fill="none" stroke="#07E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="8,2 2,8 8,14"/>
          <polyline points="16,2 10,8 16,14"/>
        </g>
        <text>&lt;&lt;</text>
      </switch>
    </svg><!-- No line break here
  --></a>
  <a th:if="${pagination.pageNumber} &gt; 1"
     th:href="@{/incidenttags(page=pagination.previousOrFirst.pageNumber)}" rel="prev" href="#" class="pam" aria-label="Previous">
    <svg height="1em" viewBox="0 0 10 16" class="valign-middle">
      <switch>
        <polyline points="8,2 2,8 8,14" fill="none" stroke="#07E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <text>&lt;</text>
      </switch>
    </svg></a>
    <span>
        <a th:if="${nextPage}" th:href="@{/incidenttags(page=${nextPage})}"
           rel="next" href="#" class="pam" aria-label="Next"><span class="hidegt768 valign-middle mrs">Next</span><!-- No line break here
            --><svg height="1em" viewBox="0 0 10 16" class="valign-middle">
                <switch>
                    <polyline points="2,2 8,8 2,14" fill="none" stroke="#07E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <text>&gt;</text>
                </switch>
            </svg>
        </a>
    </span>
</div>
